<%= form_with(model: nhasanxuat) do |form| %>
  <% if nhasanxuat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nhasanxuat.errors.count, "error") %> prohibited this nhasanxuat from being saved:</h2>

      <ul>
        <% nhasanxuat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ten %>
    <%= form.text_field :ten %>
  </div>

  <div class="field">
    <%= form.label :quocgia %>
    <%= form.text_field :quocgia %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
