<p id="notice"><%= notice %></p>
<%= render 'home/index'=%>

<h1>Nhà sản xuất</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tên</th>
      <th>Quốc gia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nhasanxuats.each do |nhasanxuat| %>
      <tr>
        <td><%= nhasanxuat.ten %></td>
        <td><%= nhasanxuat.quocgia %></td>
        <td><button class ="btn btn-outline-success text-light"><%= link_to 'Show', nhasanxuat %></button></td>
        <td><button class ="btn btn-outline-primary text-light"><%= link_to 'Edit', edit_nhasanxuat_path(nhasanxuat) %></button></td>
        <td><button class ="btn btn-outline-danger text-light"><%= link_to 'Destroy', nhasanxuat, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class ="btn btn-outline-primary text-light"><%= link_to 'New Nhasanxuat', new_nhasanxuat_path %></button>
