<p id="notice"><%= notice %></p>

<p>
  <strong>Ten:</strong>
  <%= @nhasanxuat.ten %>
</p>

<p>
  <strong>Quocgia:</strong>
  <%= @nhasanxuat.quocgia %>
</p>

<%= link_to 'Edit', edit_nhasanxuat_path(@nhasanxuat) %> |
<%= link_to 'Back', nhasanxuats_path %>
