<p id="notice"><%= notice %></p>
<%= render 'home/index'=%>

<h1>Nhà Cung cấp</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Tên</th>
      <th>Địa chỉ</th>
      <th>SĐT</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nhacungcaps.each do |nhacungcap| %>
      <tr>
        <td><%= nhacungcap.ten %></td>
        <td><%= nhacungcap.diachi %></td>
        <td><%= nhacungcap.sdt %></td>
        <td><button class ="btn btn-outline-success text-light"><%= link_to 'Show', nhacungcap %></button></td>
        <td><button class ="btn btn-outline-primary text-light"><%= link_to 'Edit', edit_nhacungcap_path(nhacungcap) %></button></td>
        <td><button class ="btn btn-outline-danger text-light"><%= link_to 'Destroy', nhacungcap, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class ="btn btn-outline-success text-light"><%= link_to 'New Nhacungcap', new_nhacungcap_path %></button>
