<p id="notice"><%= notice %></p>

<p>
  <strong>Ten:</strong>
  <%= @nhacungcap.ten %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @nhacungcap.diachi %>
</p>

<p>
  <strong>Sdt:</strong>
  <%= @nhacungcap.sdt %>
</p>

<%= link_to 'Edit', edit_nhacungcap_path(@nhacungcap) %> |
<%= link_to 'Back', nhacungcaps_path %>
