<!------ Include the above in your HEAD tag ---------->

<div class="wrapper">
<!--Navigation Start-->
<nav class="navigation">
  <ul>
    <li class="active">
      <a href="./thietbis">Thiết Bị</a>
      
    </li>
    <li>
      <a href="./loaithietbis">Loại thiết bị</a>
    </li>
    <li>
      <a href="./nhacungcaps">Nhà cung cấp</a>
      
    </li>
    <li>
      <a href="./nhasanxuats">Nhà sản xuất</a>
    </li>
  </ul>
</nav>
<!--Navigation End-->
</div>