<%= form_with(model: thietbi) do |form| %>
  <% if thietbi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thietbi.errors.count, "error") %> prohibited this thietbi from being saved:</h2>

      <ul>
        <% thietbi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tenthietbi %>
    <%= form.text_field :tenthietbi %>
  </div>

  <div class="field">
    <%= form.label :nhasanxuat_id %>
    <%= form.collection_select(:nhasanxuat_id, Nhasanxuat.all, :id, :ten, prompt: true) =%>
  </div>

  <div class="field">
    <%= form.label :thongsokt %>
    <%= form.text_field :thongsokt %>
  </div>

  <div class="field">
    <%= form.label :loaithietbi_id %>
    <%= form.collection_select(:loaithietbi_id, Loaithietbi.all, :id, :tenloai, prompt: true) =%>
  </div>

  <div class="field">
    <%= form.label :nhacungcap_id %>
    <%= form.collection_select(:nhacungcap_id, Nhacungcap.all, :id, :ten, prompt: true) =%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
