<p id="notice"><%= notice %></p>
<%= render 'home/index'=%>

<h1>Thiết bị</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Tên thiết bị</th>
      <th>Nhà sản xuất</th>
      <th>Thông số kĩ thuật</th>
      <th>Loại thiết bị</th>
      <th>Nhà cung cấp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thietbis.each do |thietbi| %>
      <tr>
        <td><%= thietbi.tenthietbi %></td>
        <td><%= thietbi.nhasanxuat.ten %></td>
        <td><%= thietbi.thongsokt %></td>
        <td><%= thietbi.loaithietbi.tenloai %></td>
        <td><%= thietbi.nhacungcap.ten %></td>
        <td><button class ="btn btn-outline-success text-light"><%= link_to 'Show', thietbi %></button></td>
        <td><button class ="btn btn-outline-primary text-light"><%= link_to 'Edit', edit_thietbi_path(thietbi) %></button></td>
        <td><button class ="btn btn-outline-danger text-light"><%= link_to 'Destroy', thietbi, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span class = "btn btn-outline-primary"><%= link_to 'New Thietbi', new_thietbi_path %></span>
