<p id="notice"><%= notice %></p>


<p>
  <strong>Tenthietbi:</strong>
  <%= @thietbi.tenthietbi %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @thietbi.nhasanxuat_id %>
</p>

<p>
  <strong>Thongsokt:</strong>
  <%= @thietbi.thongsokt %>
</p>

<p>
  <strong>Loaithietbi:</strong>
  <%= @thietbi.loaithietbi_id %>
</p>

<p>
  <strong>Nhacungcap:</strong>
  <%= @thietbi.nhacungcap_id %>
</p>

<%= link_to 'Edit', edit_thietbi_path(@thietbi) %> |
<%= link_to 'Back', thietbis_path %>
