<%= form_with(model: loaithietbi) do |form| %>
  <% if loaithietbi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loaithietbi.errors.count, "error") %> prohibited this loaithietbi from being saved:</h2>

      <ul>
        <% loaithietbi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tenloai %>
    <%= form.text_field :tenloai %>
  </div>

  <div class="field">
    <%= form.label :donvitinh %>
    <%= form.text_field :donvitinh %>
  </div>

  <div class="field">
    <%= form.label :ghichu %>
    <%= form.text_field :ghichu %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
