<p id="notice"><%= notice %></p>

<%= render 'home/index'=%>

<h1>Loại thiết bị</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Tên</th>
      <th>Đơn vị tính</th>
      <th>Ghi chú</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loaithietbis.each do |loaithietbi| %>
      <tr>
        <td><%= loaithietbi.tenloai %></td>
        <td><%= loaithietbi.donvitinh %></td>
        <td><%= loaithietbi.ghichu %></td>
        <td><button class ="btn btn-outline-success text-light"><%= link_to 'Show', loaithietbi %></button></td>
        <td><button class ="btn btn-outline-primary text-light"><%= link_to 'Edit', edit_loaithietbi_path(loaithietbi) %></button></td>
        <td><button class ="btn btn-outline-danger text-light"><%= link_to 'Destroy', loaithietbi, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class ="btn btn-outline-primary text-light"><%= link_to 'New Loaithietbi', new_loaithietbi_path %></button>
