<p id="notice"><%= notice %></p>

<p>
  <strong>Tenloai:</strong>
  <%= @loaithietbi.tenloai %>
</p>

<p>
  <strong>Donvitinh:</strong>
  <%= @loaithietbi.donvitinh %>
</p>

<p>
  <strong>Ghichu:</strong>
  <%= @loaithietbi.ghichu %>
</p>

<%= link_to 'Edit', edit_loaithietbi_path(@loaithietbi) %> |
<%= link_to 'Back', loaithietbis_path %>
